include ../../_ui/input/input
include ../../_ui/button/button

mixin popup(type, id = type)
  .popup.js-popup.js-close-popup(data-popup=id)
    .popup__backdrop
    .popup__container
      .popup__wrapper
        .popup__window
          .popup__close.js-close-popup
          if type === 'form'
            form.popup__form(action="")
              p(style="margin-bottom: 20px; text-align: center") Форма входа
              div(style="margin-bottom: 10px;")
                +input('email', 'E-mail:', 'email', 'Введите ваш e-mail', '', '', {error: 'Неверные данные'})
              div(style="margin-bottom: 20px;")
                +input('password', 'Пароль:', 'password', 'Введите ваш пароль', '', '', {error: 'Неверные данные'})
              div(style="display: flex; justify-content: center;")
                div(style="margin: 0 5px;")
                  +button('primary', 'submit', 'Войти')
                div(style="margin: 0 5px;")
                  +button('secondary', 'link', 'Закрыть', 'js-close-popup', {link: '#'})