*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include font-fix;
}

* {
  outline: none;
  
  &:focus-visible:not([disabled]):not([readonly]) {
    outline: 2px solid $lightBlue;
    outline-offset: 0;
    transition: outline 0s;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  color: $black;
  line-height: 1.4;
  font: {
    family: $font;
    size: 18px;
    weight: 400;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $red;
  transition: color .3s ease;
  &:hover {
    color: transparentize($red, 0.2);
  }
}

.container {
  width: 100%;
  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media only screen and (max-width: $tablet) {
  body {
    font-size: 16px;
  }

  .container {
    .wrapper {
      max-width: 768px;
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  body {
    font-size: 14px;
  }

  .container {
    .wrapper {
      max-width: 440px;
      padding: 0 15px;
    }
  }
}