// font family
$font: 'Montserrat', Helvetica, sans-serif;

// colors
$white: #fff;
$red: #F24040;
$red2: #D63737;
$red3: #C23131;
$lightBlue: #99ddff;
$black: #202020;
$gray: #B2B2B2;
$gray2: #EBEBEB;

// breakpoints
$tablet: 1200px - 1px;
$mobile: 768px - 1px;