.input {
  display: block;
  &:hover {
    .input__field:not([readonly]) {
      border-color: $black;
    }
  }
  &--error {
    .input__error {
      display: block;
    }
  }
  &__label {
    margin-bottom: 5px;
    color: $black;
    font: {
      size: 14px;
      weight: 500;
    }
  }
  &__field {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid transparentize($black, 0.5);
    background-color: $white;
    line-height: 1.33;
    word-break: keep-all;
    -webkit-appearance: none;
    transition: border-color .3s ease;
    font: {
      family: 'Montserrat', Helvetica, sans-serif;
      size: 14px;
      weight: 500;
    }
    &[readonly] {
      background-color: $gray2;
      border-color: $gray;
    }
    &:not([readonly]):focus-visible {
      border-color: $black;
    }
    @include placeholder {
      opacity: 0.5;
      color: $black;
    }
  }
  &__error {
    display: none;
    margin: 5px 0;
    color: $red;
    font: {
      size: 14px;
      weight: 500;
    }
  }
}