doctype
html
    head
        title Document
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/style.min.css", rel="stylesheet")
    body
        script(src="js/libs.min.js")
        script(src="js/common.min.js")