//- Файл стилей
link(rel="stylesheet", href="css/style.min.css")

//- Иконки сайта
link(rel="shortcut icon", href="img/favicons/64x64.png", type="image/png")
link(rel="icon", href="img/favicons/152x152.png", type="image/png", sizes="152x152")
link(rel="icon", href="img/favicons/256x256.png", type="image/png", sizes="256x256")
link(rel="icon", href="img/favicons/512x512.png", type="image/png", sizes="512x512")
link(rel="apple-touch-icon", href="img/favicons/152x152.png", sizes="152x152")
link(rel="apple-touch-icon", href="img/favicons/256x256.png", sizes="256x256")
link(rel="apple-touch-icon", href="img/favicons/512x512.png", sizes="512x512")

//- Манифест
link(rel="manifest", href="manifest.json")