//- Мета теги для соц. сетей Open Graph
mixin open-graph(title, url, image, description)
	meta(property="og:title", content=title)
	meta(property="og:url", content=url)
	meta(property="og:type", content='website')
	meta(property="og:image", content=image)
	meta(property="og:description", content=description)