//- Файл стилей
link(rel="stylesheet", href="css/style.min.css")

//- Иконки сайта
link(rel="shortcut icon", href="img/icons/32x32.png", type="image/png")
link(rel="icon", href="img/icons/256x256.png", type="image/png", sizes="256x256")

//- Манифест
link(rel="manifest", href="manifest.json")