*,
*:before,
*:after
  box-sizing: border-box
  margin: 0
  padding: 0
  text-size-adjust: none

body
  width: 100%
  min-height: 100vh
  line-height: 1.4
  @include font-fix
  font:
    family: 'Montserrat', Helvetica, sans-serif
    size: 18px
    weight: 400

p
  margin: 0

h1, h2, h3, h4, h5, h6
  margin: 0

a
  color: $black
  transition: color .3s ease
  &:hover
    color: transparentize($black, 0.2)

.container
  width: 100%
  .wrapper
    max-width: 1200px
    width: 100%
    margin: 0 auto
    padding: 0 30px

@media only screen and (max-width: $tablet)
  body
    font-size: 16px
  .container
    .wrapper
      max-width: 768px
      padding: 0 20px

@media only screen and (max-width: $mobile)
  body
    font-size: 14px
  .container
    .wrapper
      max-width: 320px
      padding: 0 10px